<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :nickname %><br />
    <%= f.text_field :nickname, value: resource.nickname, autocomplete: "nickname" %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :last_name, "お名前（姓）" %><br />
    <%= f.text_field :last_name, value: resource.last_name %>
  </div>

  <div class="field">
    <%= f.label :first_name, "お名前（名）" %><br />
    <%= f.text_field :first_name, value: resource.first_name %>
  </div>

  <div class="field">
    <%= f.label :last_name_kana, "お名前カナ（姓）" %><br />
    <%= f.text_field :last_name_kana, value: resource.last_name_kana %>
  </div>

  <div class="field">
    <%= f.label :first_name_kana, "お名前カナ（名）" %><br />
    <%= f.text_field :first_name_kana, value: resource.first_name_kana %>
  </div>

  <div class="field">
    <%= f.label :birthday, "生年月日" %><br />
    <%= f.date_select :birthday, start_year: 1900, end_year: Date.today.year, default: { year: 1990 } %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
