<!DOCTYPE html>
<html>

<head>
  <title>Furima</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

  <% if controller_name == "sessions" %>
    <%= stylesheet_link_tag "user/login", media: "all", "data-turbo-track": "reload" %>
  <% elsif controller_name == "registrations" %>
    <%= stylesheet_link_tag "user/registrations", media: "all", "data-turbo-track": "reload" %>
  <% end %>

  <%= javascript_importmap_tags %>
</head>

<body>
  <%= yield %>
</body>

</html>